@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 30% 97%;
    --foreground: 200 30% 26%;

    --card: 195 20% 95%;
    --card-foreground: 200 30% 26%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 30% 26%;

    --primary: 200 58% 26%;
    --primary-foreground: 0 0% 98%;

    --secondary: 195 26% 48%;
    --secondary-foreground: 0 0% 98%;

    --muted: 195 20% 95%;
    --muted-foreground: 200 30% 46%;

    --accent: 195 38% 56%;
    --accent-foreground: 0 0% 98%;

    --tint: 195 38% 56%;
    --tint-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 195 20% 85%;
    --input: 195 20% 85%;
    --ring: 195 20% 85%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 30% 10%;
    --foreground: 195 30% 97%;

    --card: 200 30% 13%;
    --card-foreground: 195 30% 97%;

    --popover: 200 30% 10%;
    --popover-foreground: 195 30% 97%;

    --primary: 195 38% 56%;
    --primary-foreground: 200 30% 10%;

    --secondary: 200 58% 26%;
    --secondary-foreground: 195 30% 97%;

    --muted: 200 30% 15%;
    --muted-foreground: 195 30% 77%;

    --accent: 200 58% 26%;
    --accent-foreground: 195 30% 97%;

    --tint: 195 38% 56%;
    --tint-foreground: 200 30% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 195 30% 97%;

    --border: 200 30% 20%;
    --input: 200 30% 20%;
    --ring: 200 30% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-internal-11ttlho {
  display: none;
  opacity: 0;
}

.cl-internal-180wb59 {
  display: none;
  opacity: 0;
}
